.card {
    background: transparent;
    width: 117px;
    height: 200px;
    perspective: 1000px;
    position: relative;
    cursor: pointer;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .wrapper-horizontal .card {
    float: left;
    margin: 10px;
    margin-bottom: 20px;
  }
  
  
  /* changed .card:hover to .flipped because there was no class to be toggled. */
  
  .flipped {
    transform: rotateY(180deg) translate(0, 40px);
  }
  
  .card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
  }
  
  .card-face-front {
    background: red;
  }
  
  .card-face-back {
    background: blue;
    transform: rotateY(180deg);
  }